@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(214, 186, 240);
}

.button {
    width: 85px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.text-center {
    text-align: center;
}

.row input {
    width: 297px;
    font-size: 35px;
    margin: 0;
    padding: 10px 38px;
    border: 2px solid black;
    border-radius: 5px;
}


.mx-auto {
    margin: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.item-center {
    align-items: center;
}

